body {
  font-family: "Inter", sans-serif;
  background-color: #DBE2EF;
  color: #F9F7F7;
}

/* ------------------------ */
/* Main Content Containers */
/* ------------------------ */
.home-container {
  width: auto;
}

.home-grid {
  width: 100% !important;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
  background-color: #112D4E;
  margin-top: 2rem;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-grid {
  grid-template-columns: 1fr 1fr;
  row-gap: 8px;
  column-gap: 8px;
  display: grid;
  justify-items: center;
}

.button-grid.two-btn {
  grid-template-columns: 1fr 1fr;
}

/* ------------------------ */
/* Main Content  */
/* ------------------------ */
.home-title {
  font-size: 2rem;
  font-weight: bold;
  color: #F9F7F7;
  margin-bottom: 1.5rem;
  text-align: center;
}

.action-button {
  background-color: #3F72AF;
  border: 2px solid #F9F7F7;
  border-radius: 3px;
  padding: 1.5rem;
  text-align: center;
  font-weight: bold;
  color: #F9F7F7;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  font-size: 0.8rem;
}

.action-button:hover {
  background-color: #DBE2EF;
  border-color: #3F72AF;
  color: #112D4E;
  transform: translateY(-2px);
}

.button-with-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.button-label {
  margin-top: 0.2rem;
  font-size: 0.85rem;
  color: #F9F7F7;
  font-weight: 600;
  font-style: oblique;
  text-align: center;
  max-width: 200px;
}

/* ------------------------ */
/* Results Styles */
/* ------------------------ */
.results-flex {
  background-color: #112D4E;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.results-text {
  width: 100%;
  color: #F9F7F7;
  display: flex;
  justify-content: center;
}

.results-text ul {
  text-align: center;
  padding-inline-start: 0rem;
  margin-block-end: 0.2rem;
  margin-block-start: 0.5rem;
}

li {
  list-style-type: none;
}

li:not(:last-child) {
  /*margin-bottom: 0.3rem;*/
}

.sku-table {
  width: 100%;
  border-collapse: collapse;
}

.sku-table th,
.sku-table td {
  border: 1px solid #3F72AF;
  padding: 0.5rem;
  text-align: left;
}

.sku-table th {
  background-color: #3F72AF;
  color: #F9F7F7;
  font-weight: bold;
  padding: 0.75rem;
  text-align: center;
  font-size: 0.9rem;
  border-bottom: 2px solid #112D4E;
}

.sku-table td {
  color: #F9F7F7;
  font-size: 0.85rem;
  padding: 0.5rem;
  border: 1px solid #3F72AF;
}

.alert-row {
  background-color: #f0391d;
}


.sku-table tr:hover {
  background-color: #3F72AF;
  color: #112D4E;
  cursor: pointer;
}
